apiVersion: v1
kind: Pod
metadata:
  labels:
    ansible_job: ''
spec:
  serviceAccountName: osac-sa
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: ansible_job
                  operator: Exists
            topologyKey: kubernetes.io/hostname
  containers:
    - image: >-
        {{ aap_ee_image }}
      name: worker
      imagePullPolicy: Always
      args:
        - ansible-runner
        - worker
        - '--private-data-dir=/runner'
      envFrom:
        - configMapRef:
            name: network-fulfillment-ig
            optional: true
        - secretRef:
            name: network-fulfillment-ig
      env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
{% if remote_cluster_kubeconfig_secret_name %}
        - name: OSAC_REMOTE_CLUSTER_KUBECONFIG_CONTENT
          valueFrom:
            secretKeyRef:
              name: {{ remote_cluster_kubeconfig_secret_name }}
              key: {{ remote_cluster_kubeconfig_secret_key }}
{% endif %}
